<%- include("components/dashboard/head"); %>
<body>
<%- include("components/dashboard/navbar"); %>
  
<div class="container-fluid">
  <div class="row">
    <%- include("components/dashboard/sidebar"); %> 

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Edit User</h1>
      </div>
      <form action="/dashboard-edit-save?id=<%= user_game.id %>" method="POST">
        <div class="col-sm-12 col-xs-12" style="padding-top: 20px;">
          username
          <input type="text" class="form-control" id="username" name="username"  placeholder="Enter Username" value="<%= user_game.username %>">
        </div>
        <div class="col-sm-12 col-xs-12" style="padding-top: 20px;">
          email
          <input type="email" class="form-control" id="email" name="email"  aria-describedby="emailHelp" placeholder="Enter email" value="<%= user_game.email %>">
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Edit</button>
      </form>
      <br>
      <a href="/dashboard"> <button class="btn btn-warning" type="submit">Cancel</button> </a>
      
    </main>
  </div>
</div>
    <%- include("components/dashboard/javascript"); %>  
  </body>
</html>
